.squares-target {
    background-size: auto 100%;
    background-position: center;
    margin: 0;
    padding: 0;
    position: absolute;
}

.squares-target img {
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
}

.squares-target .tile {
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;
}

.squares-target .tile img {
    position: relative;
}

.squares-target .tile.animate {
    z-index: 100;
    -webkit-transition: top .5s ease-in, left .5s ease-in, -webkit-transform .5s ease-in;
    -moz-transition: top .5s ease-in, left .5s ease-in, -moz-transform .5s ease-in;
    -o-transition: top .5s ease-in, left .5s ease-in, -o-transform .5s ease-in;
    -ms-transition: top .5s ease-in, left .5s ease-in, -ms-transform .5s ease-in;
    transition: top .5s ease-in, left .5s ease-in, transform .5s ease-in;
    */
}
.squares-target .tile.squares-current {
    z-index: 101;
}

.squares-tiles {
    position: absolute;
    top: 0;
    z-index: 50;
    display: none;
}
