body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div {
    margin: 0;
    padding: 0;
}

#target {
    width: 100%;
    background-color: gray;
}

#controls {
    position: absolute;
    top: 0;
    z-index: 100;
}

#controls .active {
    color: red;
}

#stats {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    padding: 20px;
    border: 1px solid;
    background: white;
    z-index: 100;
}
