<!doctype html>
<html ng-app>
<head>
    <link rel="stylesheet" type="text/css" href="../css/squares.css">
    <link rel="stylesheet" href="qunit-1.11.0.css">
    <script type="text/javascript" src="../libs/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../libs/modernizr.custom.js"></script>
    <script type="text/javascript" src="../jquery.squares.js"></script>
	<title>Tiled Background Tests</title>
</head>
<body ng-controller="AppController">
    <div id="stats" ng-click="update()">
        <p>
            height: <span id="height"></span> px,
            width: <span id="width"></span> px
        </p>
        <p>
            Rows: <span id="rows"></span>,
            columns: <span id="columns"></span>
        </p>
    </div>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <div id="target">
        <img src="">
    </div>
    <script src="qunit-1.11.0.js"></script>
    <script src="tests.js"></script>
</body>
</html>